<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIGASTUDY</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/fonts-local.css}">
</head>

<body>


    <main>
        <div class="noto-sans-kr flex flex-col items-center justify-center h-screen -translate-y-7">
            <div class="w-full max-w-sm px-4">
                <div class="flex justify-center">
                    <a href="/">
                        <img class="w-52 h-52 object-contain" src="/images/logo_col.png" alt="Logo">
                    </a>
                </div>
                <form id="loginForm" onsubmit="event.preventDefault(); login();">
                    <div class="my-2 py-2 px-2 rounded-md border">
                        <input type="text" id="userId" name="userId" placeholder="아이디를 입력해주세요"
                            class="w-full outline-none text-center focus:placeholder-transparent" maxlength="20"
                            required>
                    </div>
                    <div class="my-2 py-2 px-2 rounded-md border">
                        <input type="userPw" id="userPw" name="userPw" placeholder="비밀번호를 입력해주세요"
                            class="w-full outline-none text-center focus:placeholder-transparent" maxlength="30"
                            required>
                    </div>
                    <div>
                        <button class="my-1 py-2 w-full rounded-md text-white bg-green-500 hover:opacity-30"
                            type="submit">
                            로그인
                        </button>
                    </div>
                </form>
                <a href="/signup">
                    <div class="text-center my-1 py-2 w-full rounded-md border border-green-500 hover:opacity-30">
                        회원가입
                    </div>
                </a>
                <div id="errorMessage" class="hidden text-red-600">
                    <p>아이디 또는 비밀번호가 올바르지 않습니다.</p>
                </div>
            </div>
        </div>
    </main>

    
    <script th:src="@{/js/login.js}"></script>
</body>

</html>