<div th:fragment="wordTitle(title)">
    <div class="flex items-center justify-between p-2 sm:p-5">
        <h1 class="gowun-dodum text-xl sm:text-3xl select-none" th:text="${title}"></h1>
        <div id="cardCount" class="noto-sans-kr text-sm sm:text-lg"></div>
    </div>
    <div id="cardContainer" class="select-none relative flex items-center justify-center h-[20rem]">
        <div id="card1" class="card zen-old-mincho" onclick="handleClickNext()">
            <div id="card1Front" class="front">
                <!-- 카드1 앞면 -->
                 <div id="card1FrontFirst"></div>
                 <div id="card1FrontSecond"></div>
                 <div id="card1FrontThird"></div>
            </div>
            <div id="card1Back" class="back">
                <!-- 카드1 뒷면 -->
            </div>
        </div>
        <div id="card2" class="card zen-old-mincho hidden" onclick="handleClickNext()">
            <div id="card2Front" class="front">
                <!-- 카드2 앞면 -->
                <div id="card2FrontFirst"></div>
                <div id="card2FrontSecond"></div>
                <div id="card2FrontThird"></div>
            </div>
            <div id="card2Back" class="back">
                <!-- 카드2 뒷면 -->
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="noto-sans-kr flex items-center justify-center h-10 py-8 w-[30rem]">
            <button class="bg-[#f9f9f9] border rounded-md flex-1 text-sm sm:text-base py-2 px-2 mr-1 select-none hover:opacity-30"
                onclick="handleClickPre()">이전</button>
            <button class="bg-[#f9f9f9] border rounded-md flex-1 text-sm sm:text-base py-2 px-2 mx-1 select-none hover:opacity-30"
                onclick="handleClickNext()">다음</button>
            <button class="bg-[#f9f9f9] border rounded-md flex-1 text-sm sm:text-base py-2 px-2 mx-1 select-none hover:opacity-30"
                onclick="handleClickSave()">저장</button>
            <button class="bg-[#f9f9f9] border rounded-md flex-1 text-sm sm:text-base py-2 px-2 mx-1 select-none hover:opacity-30 hidden"
                onclick="handleClickDelete()" id="deleteButton">삭제</button>
            <button class="bg-[#f9f9f9] border rounded-md flex-1 text-sm sm:text-base py-2 px-2 mx-1 select-none hover:opacity-30"
                onclick="showConfirm('지금까지 학습한 내용이 모두 초기화됩니다.<br>정말로 섞으시겠습니까?', handleClickShuffle, null)">섞기</button>
            <button class="bg-[#f9f9f9] border rounded-md flex-1 text-sm sm:text-base py-2 px-2 ml-1 select-none hover:opacity-30"
                onclick="showConfirm('정말 첫 단어로 돌아가시겠습니까?', handleClickFirst, null)">처음</button>
        </div>
    </div>    

    <div th:replace="~{loading :: loading}"></div>
</div>
