<section th:fragment="content">
    <h1 class="p-5 text-3xl">영어</h1>
    <div id="cardContainer">
        <div id="wordCard" class="card" onclick="handleClickNext()">
            <div id="wordDisplay" class="front">
                <!-- 단어 -->
            </div>
            <div id="wordMeaning" class="back">
                <!-- 의미 -->
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center h-10 py-10">
        <button class="bg-[#f9f9f9] border rounded-md py-2 px-3 mx-3 hover:opacity-30" onclick="handleClickPre()">이전</button>
        <button class="bg-[#f9f9f9] border rounded-md py-2 px-3 mx-3 hover:opacity-30" onclick="handleClickNext()">다음</button>
        <button class="bg-[#f9f9f9] border rounded-md py-2 px-3 mx-3 hover:opacity-30" onclick="handleClickSave()">저장</button>
        <button class="bg-[#f9f9f9] border rounded-md py-2 px-3 mx-3 hover:opacity-30">섞기</button>
        <button class="bg-[#f9f9f9] border rounded-md py-2 px-3 mx-3 hover:opacity-30">추가</button>
    </div>
</section>