<section th:fragment="content">
    <h1 class="p-5 text-3xl">한자</h1>
    <div id="cardContainer">
        <div id="wordCard" class="card" onclick="handleClick()">
            <div id="wordDisplay" class="front">
                <!-- 단어 -->
            </div>
            <div id="wordMeaning" class="back">
                <!-- 의미 -->
            </div>
        </div>
    </div>
    <div class="flex w-full justify-center">
        <button onclick="handlePrevious()">이전</button>
        <button onclick="handleClick()">다음</button>
        <button onclick="iDontKnow()">모름</button>
    </div>
</section>