<nav th:fragment="nav">
    <div class="noto-sans-kr flex items-center justify-between p-3 select-none">
        <a class="flex items-center" href="/">
            <img class="w-10 h-10 object-contain"
                src="/images/logo.png" alt="Logo">
            <div class="px-2">
                GIGASTUDY
            </div>
        </a>
        <div class="ml-10 mr-auto">
            <ul class="flex items-center">
                <li class="px-2 hover:opacity-30">
                    <a href="/word/kanji">한자</a>
                </li>
                <li class="px-2 hover:opacity-30">
                    <a href="/word/english">영어</a>
                </li>
                <li class="px-2 hover:opacity-30">
                    <a href="/word/kanji/saved">한자(암기장)</a>
                </li>
                <li class="px-2 hover:opacity-30">
                    <a href="/word/english/saved">영어(암기장)</a>
                </li>
            </ul>
        </div>
        <a href="/login" class="hover:opacity-30">로그인</a>
    </div>
</nav>