<nav th:fragment="nav2">
    <div class="noto-sans-kr text-3xl sm:text-lg sm:flex items-center justify-between p-3 select-none">
        <a class="w-52 flex items-center translate-y-1
            sm:w-32" href="/">
            <img class="w-52 ml-3 mt-5 object-contain
                sm:w-32 sm:h-10 sm:ml-0 sm:mt-0"
                src="/images/logo_row.png" alt="Logo">
        </a>
        <div class="pt-5 px-10 sm:pt-0 sm:px-0 sm:ml-10 mr-auto">
            <ul class="sm:flex items-center">
                <li class="border rounded-md text-center my-9 hover:opacity-30 cursor-pointer
                    sm:border-0 sm:my-0 sm:py-0 sm:px-2
                    border-green-500">
                    <a class="inline-block h-full w-full py-5" href="/word/kanji">한자</a>
                </li>
                <li class="border rounded-md text-center my-9 hover:opacity-30 cursor-pointer
                    sm:border-0 sm:my-0 sm:py-0 sm:px-2
                    border-green-500">
                    <a class="inline-block h-full w-full py-5" href="/word/english">영어</a>
                </li>
                <li class="border rounded-md text-center my-9 hover:opacity-30 cursor-pointer
                    sm:border-0 sm:my-0 sm:py-0 sm:px-2
                    border-green-500 bg-green-500 text-white sm:bg-transparent sm:text-current">
                    <a class="inline-block h-full w-full py-5" href="/word/kanji/saved">한자(암기장)</a>
                </li>
                <li class="border rounded-md text-center mt-9 hover:opacity-30 cursor-pointer
                    sm:border-0 sm:my-0 sm:pt-0 sm:px-2
                    border-green-500 bg-green-500 text-white sm:bg-transparent sm:text-current">
                    <a class="inline-block h-full w-full py-5" href="/word/english/saved">영어(암기장)</a>
                </li>
            </ul>
        </div>


        <!-- 로그인/로그아웃 버튼 -->
        <div id="authButtons" class="absolute top-0 right-0 text-xl mt-9 mr-7 hover:opacity-30
            sm:relative sm:text-lg sm:mt-0 sm:mr-0">
            <!-- 버튼이 여기에 동적으로 추가된다 -->
        </div>
    </div>

    
    <script th:src="@{/js/nav.js}"></script>
</nav>